

.container {
  width:80%;
  margin-right: auto;
  margin-left: auto;
}

/*https://css-tricks.com/dont-overthink-flexbox-grids/*/
.grid {
    display: block;
}

.grid.demo .col div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #252342;
    color: white;
    border: solid;
    border-color: white;
}

.col {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.grid .col.bleed {
    padding: 0;
}

.col.one-third {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
}

.col.two-third {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66%;
    flex: 0 0 66%;
}
.col.one-half {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

.col.one-quarter {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
}

.col.fill {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.col.one-sixth {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66%;
    flex: 0 0 16.66%;
}
.col.one-fourth{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
}
.col.one-fifth{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
}

.center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.col {
    padding-left: 1rem;
    padding-top: 1rem;
}

.col:last-child {
    padding-right: 1rem;
}

/* With gutters */
.gutters {
    margin: -1rem 0 1rem -1rem;
}

.gutters:last-of-type {
    margin-bottom: 0;
}

.padded-container {
    padding: 1rem 1rem 0 1rem;
}

.padded-order-button {
    margin-top: 1.5rem;
}

.mobile-bleed {
    padding: 0;
}

.grid > .col {
    padding: 1rem 0 0 1rem;
}

.centered-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
}

.mobile-centered-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


@media (min-width: 54.125em) {
    .grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .padded-container.mobile-bleed {
        padding: 1rem 1rem 0 1rem;
    }

    .mobile-centered-container {
        display: block;
    }

}
